#loadOverlay {
    display: none;
}

.font-abril {
    font-family: 'Abril Fatface', cursive;
}

.sidebar-background {
    background-color: $body-bg !important;
}

.text-primary {
    color: $blue !important;
}

.login-background {
    background: rgb(3,169,244);
    background: radial-gradient(circle, rgba(3,169,244,0.8) 0%, rgba(1,92,133,0.804359243697479) 97%);
}